@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Uncut-Sans";
  src: url("/public/assets/fonts/uncut-sans/Uncut-Sans-Bold.woff") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Uncut-Sans";
  src: url("/public/assets/fonts/uncut-sans/Uncut-Sans-Semibold.woff") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Uncut-Sans";
  src: url("/public/assets/fonts/uncut-sans/Uncut-Sans-Medium.woff") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Uncut-Sans";
  src: url("/public/assets/fonts/uncut-sans/Uncut-Sans-Regular.woff") format("opentype");
  font-weight: 400;
}

@theme {
  /* Fonts */
  --font-Uncut-Sans: Uncut-Sans, sans-serif;
  --font-Inter: Inter, sans-serif;
  --font-Figtree: "Figtree", sans-serif;
  --font-Instrument-Serif: "Instrument Serif", serif;

  /* Colors */

  /* Primary */
  --color-primary-10: #284DF6;
  --color-primary-15: #6D86F9;
  --color-primary-20: #9B8DFF;
  --color-primary-25: #0093E9;
  --color-primary-30: #284df64d;
  --color-primary-35: #284df666;

  /* neutral */

  --color-neutral-10: #01142F;
  --color-neutral-15: #141319;
  --color-neutral-20: #161616;
  --color-neutral-25: #E8E8E8;
  --color-neutral-30: #ffffff33;
  --color-neutral-35: #BABABA;
  --color-neutral-40: #ffffff0d;
  --color-neutral-45: #ffffff14;
  --color-neutral-50: #ffffffb3;
  --color-neutral-55: #072747;
  --color-neutral-60: #042E69;
  --color-neutral-65: #284df61a;
  --color-neutral-70: #002dfd33;
  --color-neutral-75: #284df633;
  --color-neutral-80: #ffffff1a;
  --color-neutral-85: #c72fde0f;
  --color-neutral-90: #ffffff66;
  --color-neutral-95: #ffffff03;


  /* Shadows */
  --shadow-button: 0 0.482px 1.253px -1.167px rgba(0, 0, 0, 0.10), 0 1.831px 4.76px -2.333px rgba(0, 0, 0, 0.09), 0 8px 20.8px -3.5px rgba(0, 0, 0, 0.04), 0 -2px 9px 0 rgba(255, 255, 255, 0.49) inset, 0 0 0 2px rgba(0, 0, 0, 0.20);
  --shadow-stat-card: 0 24px 50px 0 rgba(0, 0, 0, 0.10), 0 24px 50px 0 rgba(0, 0, 0, 0.15);

  /* Gradients */
  --bg-gradient-primary: var(--G--2, linear-gradient(135deg, #9B8DFF 11.52%, #7D79FD 31.69%, #5F65FB 55.94%, #4D58F9 76.74%, #4654F9 91.55%));
  --bg-gradient-footer-blur: linear-gradient(0deg, rgba(47, 84, 255, 0.20) 0%, rgba(28, 50, 153, 0.00) 100%);
  --bg-gradient-step-card: linear-gradient(273deg, #0093E9 1.62%, #3454C5 100%);

}

.bg-gradient-primary {
  background: var(--bg-gradient-primary);
}
.bg-gradient-footer-blur {
  background: var(--bg-gradient-footer-blur);
}
.bg-gradient-step-card {
  background: var(--bg-gradient-step-card);
}